@page "/disease/main"

<PageTitle>Weather forecast</PageTitle>

@using Clever.Kindergarten.Data.DBServices
@using Data.Models
@using System.Data
@using Data.Models
@inject DiseaseServices diseaseServices

<h1>قائمة أمراض الأطفال</h1>
<div>
    <a href="disease/add">إضافة جديد</a>
</div>


@if (diseases == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>الكود</th>
                <th>الاسم</th>               
                <th>أطعمة ممنوعة</th>               
                <th>ملاحظات</th>     
                <th></th>          
                <th></th>          
            </tr>
        </thead>
        <tbody>
            @foreach (Disease disease in diseases)
            {
                <tr>
                    <td>@disease.Id</td>
                    <td>@disease.Name</td>     
                    <td>@(disease.EatForbidden)</td>               
                    <td>@(disease.Description)</td>   
                    <div>
                        <a href="disease/edit/@disease.Id" style="margin-left: 10px;">تعديل</a>
                        <a href="disease/delete/@disease.Id"  style="margin-left: 10px;">حذف</a>
                    </div>                              
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Disease>? diseases;
   
        protected override void OnInitialized()
        {
            diseases = diseaseServices.GetAllData();
        }
}



