@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using Clever.Kindergarten.Data.DBServices
@using Data.Models
@using System.Data
@using Data.Models.Disease_
@inject DiseaseServices diseaseServices

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (diseases == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>الكود</th>
                <th>الاسم</th>               
                <th>أطعمة ممنوعة</th>               
                <th>ملاحظات</th>               
            </tr>
        </thead>
        <tbody>
            @foreach (Disease disease in diseases)
            {
                <tr>
                    <td>@disease.Id</td>
                    <td>@disease.Name</td>     
                    <td>@(disease.EatForbidden)</td>               
                    <td>@(disease.Description)</td>               
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Disease>? diseases;
   
        protected override void OnInitialized()
        {
            diseases = diseaseServices.GetAllData();
        }
}



