/* _content/Clever.Kindergarten/Pages/Counter.razor.rz.scp.css */
.koko[b-j1q3fbb0dg]{
    font-size: large;
    color: brown;
}

.nono[b-j1q3fbb0dg]{
    font-size: larger;
    color: darkgreen;
}

.myDiv[b-j1q3fbb0dg]{
    width: 700px;
    height: 500px;
    border: solid 2px #b1b1b1; 
    box-sizing: border-box;   
}
.myDiv h1[b-j1q3fbb0dg]{
    width: 50%;
    height: 200px;
    text-align: center;
    margin: auto;    
    background-color: aquamarine;
    border: inherit;
    vertical-align: sub;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}
/* _content/Clever.Kindergarten/Shared/MainLayout.razor.rz.scp.css */
.page[b-dgb6olvixm] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-dgb6olvixm] {
    flex: 1;
}

.sidebar[b-dgb6olvixm] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dgb6olvixm] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dgb6olvixm]  a, .top-row .btn-link[b-dgb6olvixm] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-dgb6olvixm] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dgb6olvixm] {
        display: none;
    }

    .top-row.auth[b-dgb6olvixm] {
        justify-content: space-between;
    }

    .top-row a[b-dgb6olvixm], .top-row .btn-link[b-dgb6olvixm] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dgb6olvixm] {
        flex-direction: row;
    }

    .sidebar[b-dgb6olvixm] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dgb6olvixm] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-dgb6olvixm], article[b-dgb6olvixm] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Clever.Kindergarten/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-a1tok2u4ob] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-a1tok2u4ob] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-a1tok2u4ob] {
    font-size: 1.1rem;
}

.oi[b-a1tok2u4ob] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-a1tok2u4ob] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-a1tok2u4ob] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-a1tok2u4ob] {
        padding-bottom: 1rem;
    }

    .nav-item[b-a1tok2u4ob]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-a1tok2u4ob]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-a1tok2u4ob]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-a1tok2u4ob] {
        display: none;
    }

    .collapse[b-a1tok2u4ob] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
